[package]
name = "freenet-ping-types"
version = "0.1.11"
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib"]

[features]
default = ["std"]
std = ["chrono/default"]
clap = ["dep:clap"]
contract = ["freenet-stdlib/contract"]

[dependencies]
humantime = "2"
humantime-serde = "1"
serde = { version = "1", features = ["derive"] }
chrono = { workspace = true, features = ["serde"] }
clap = { workspace = true, features = ["derive"], optional = true }

freenet-stdlib = { workspace = true }
