[package]
name = "freenet-ping-contract"
version = "0.1.11"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
freenet-stdlib = { workspace = true }
freenet-ping-types = { path = "../../types", default-features = false, features = ["contract"] }
serde_json = "1"

[features]
default = ["freenet-main-contract"]
contract = ["freenet-stdlib/contract"]
freenet-main-contract = []
trace = ["freenet-stdlib/trace"]
