<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Update State</title>
</head>

<body>
    <h1>Contract Test</h1>
    <textarea id="input" rows="8" cols="50">
[
    {
        "author":"IDG",
        "date":"2022-06-15T00:00:00Z",
        "title":"New msg",
        "content":"..."
    }
]
    </textarea>
    <br>
    <button id="ls-btn">Load State</button>
    <button id="su-btn">Send Update</button>
    <h1>Updates:</h1>
    <pre id="updates"></pre>
    <script src="./web/dist/bundle.js"></script>
</body>

</html>