[package]
name = "freenet"
version = "0.0.7"
edition = "2021"
rust-version = "1.71.1"
publish = true
description = "Freenet core software"
license = "MIT OR Apache-2.0"
repository = "https://github.com/freenet/freenet-core"

[[bin]]
name = "freenet"
path = "src/bin/freenet.rs"

[dependencies]
anyhow = "1"
asynchronous-codec = "0.6"
async-trait = "0.1"
axum = { default-features = false, features = ["http1", "matched-path", "query", "tower-log", "ws", "json"], workspace = true }
bincode = "1"
blake3 = { workspace = true }
bs58 = "0.5"
byteorder = "1"
bytes = "1"
cache-padded = "1.1.1"
chacha20poly1305 = { workspace = true }
chrono = { workspace = true }
clap = { features = ["derive", "env"], workspace = true }
config = { features = ["toml"], version = "0.13.0" }
cookie = "0.17"
crossbeam = { workspace = true }
ctrlc = { features = ["termination"], workspace = true }
dashmap = { workspace = true }
delegate = "0.10"
directories = "5"
either = { features = ["serde"], workspace = true }
fastrand = { workspace = true }
flatbuffers = "23.5.26"
futures = "0.3.21"
headers = "0.4"
itertools = "0.12.1"
libp2p = { default-features = false, features = ["autonat", "dns", "ed25519", "identify", "macros", "noise", "ping", "tcp", "tokio", "yamux"], version = "0.52.3" }
libp2p-identity = { features = ["ed25519", "rand"], version = "0.2.7" }
notify = "6"
once_cell = "1"
ordered-float = "4.1.1"
pav_regression = "0.4.0"
parking_lot = "0.12.0"
rand = { features = ["small_rng"], workspace = true }
rocksdb = { default-features = false, optional = true, version = "0.21.0" }
serde = { features = ["derive", "rc"], workspace = true }
serde_json = { workspace = true }
serde_with = { workspace = true }
sqlx = { features = ["runtime-tokio-rustls", "sqlite"], optional = true, version = "0.7" }
stretto = { features = ["async", "sync"], version = "0.8" }
tar = { version = "0.4.38" }
thiserror = "1"
tokio = { features = ["fs", "macros", "rt-multi-thread", "sync", "process"], version = "1" }
tokio-tungstenite = "0.21"
tower-http = { features = ["fs", "trace"], version = "0.5" }
ulid = { features = ["serde"], version = "1.1" }
unsigned-varint = "0.7"
wasmer = { features = ["sys"], workspace = true }
xz2 = { version = "0.1" }
reqwest = { version = "0.11.23", features = ["json"] }
# enum-iterator = "1.4.1"

# Tracing deps
opentelemetry = "0.21.0"
opentelemetry-jaeger = { features = ["collector_client", "isahc", "rt-tokio"], optional = true, version = "0.20.0" }
tracing = { version = "0.1" }
tracing-opentelemetry = { optional = true, version = "0.22.0" }
tracing-subscriber = { optional = true, version = "0.3.16" }

# internal deps
freenet-stdlib = { features = ["net"], workspace = true }
time = "0.3.30"

[dev-dependencies]
arbitrary = { features = ["derive"], version = "1" }
chrono = { features = ["arbitrary"], workspace = true }
freenet-stdlib = { features = ["net", "testing"], workspace = true }
itertools = "0.12"
pav_regression = "0.4.0"
pico-args = "0.5"
statrs = "0.16.0"
tempfile = "3.8"
tracing = "0.1"

[features]
default = ["sqlite", "trace", "websocket"]
local-mode = []
network-mode = []
rocks_db = ["rocksdb"]
sqlite = ["sqlx"]
trace = ["tracing-subscriber"]
trace-ot = ["opentelemetry-jaeger", "trace", "tracing-opentelemetry"]
websocket = ["axum/ws"]
