[package]
name = "freenet-email-inbox"
version = "0.0.1"
edition = "2021"
rust-version = "1.71.1"
resolver = "2"
publish = false

[dependencies]
chrono = { version = "0.4.23", default-features = false, features = ["alloc", "serde"] }
freenet-stdlib = { workspace = true, features = ["contract"] }
rsa = { version = "0.9.2", default-features = false, features = ["serde", "pem", "sha2"] }
freenet-aft-interface = { path = "../../../../modules/antiflood-tokens/interfaces" }
serde = "1"
serde_json = "1"
thiserror = "1"

[lib]
crate-type = ["cdylib", "rlib"]

[features]
default = []
contract = []
wasmbind = ["chrono/wasmbind"]
