[package]
name = "freenet-ping-app"
version = "0.1.11"
edition = "2021"

[features]
testing = ["freenet-stdlib/testing", "freenet/testing"]

[dependencies]
anyhow = "1.0"
chrono = { workspace = true, features = ["default"] }
clap = { version = "4.5", features = ["derive"] }
freenet-stdlib = { version = "0.1.14", features = ["net"] }
freenet-ping-types = { path = "../types", features = ["std", "clap"] }
futures = "0.3.31"
rand = "0.9.2"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tempfile = "3.21.0"
tokio = { version = "1.47", features = ["full"] }
tokio-tungstenite = "0.27.0"
tracing = { version = "0.1", features = ["log"] }
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
humantime = "2.2.0"

[dev-dependencies]
freenet = { path = "../../../crates/core" }
testresult = { workspace = true }

[lib]
name = "freenet_ping_app"
path = "src/lib.rs"

[[bin]]
name = "freenet-ping"
path = "src/main.rs"
