name: CI

on:
  push:
    branches: [main]
    paths-ignore: ["docs/**", "README.md"]
  pull_request:
    branches: [main]
    paths-ignore: ["docs/**", "README.md"]

jobs:
  test_all:
    name: Test features

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        args: ["--no-default-features", "--all-features"]
    env:
      LOCUTUS_LOG: error
      CARGO_TARGET_DIR: ${{ github.workspace }}/target

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.11.0
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v3

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: "true"
          default: "true"

      - uses: Swatinem/rust-cache@v2

      - name: Install stdlib packages
        working-directory: apps/stdlib
        run: npm run dev.package

      - name: Add dependencies
        run: |
          rustup target add wasm32-unknown-unknown
          rustup target add wasm32-wasi

      - name: Build
        run: |
          cargo build --locked 
          cargo install --path ./crates/locutus-node

      - name: Test - default
        run: cargo test

      - name: Test - features
        run: cargo test --workspace ${{ matrix.args }}

  build_target:
    name: Build targets

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        targets: ["wasm32-unknown-unknown", "x86_64-unknown-linux-gnu"]
    env:
      LOCUTUS_LOG: error
      CARGO_TARGET_DIR: ${{ github.workspace }}/target

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.11.0
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v3

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - uses: Swatinem/rust-cache@v2
          
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: "true"
          default: "true"

      - name: Add dependencies
        run: |
          rustup target add wasm32-unknown-unknown
          rustup target add wasm32-wasi

      - name: Build  - locutus-stdlib
        working-directory: crates/locutus-stdlib
        run: cargo build --target ${{ matrix.targets }}

  clippy_check:
    name: Clippy

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        target: ["wasm32-unknown-unknown", "x86_64-unknown-linux-gnu"]

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.11.0
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v3
      
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - uses: Swatinem/rust-cache@v2

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          components: clippy
          override: "true"
          default: "true"

      - name: Add dependencies
        run: |
          rustup target add wasm32-unknown-unknown
          rustup target add wasm32-wasi

      - name: clippy
        run: cargo clippy -- -D warnings

      - name: clippy - locutus-stdlib
        working-directory: crates/locutus-stdlib
        run: cargo clippy --target ${{ matrix.target }} -- -D warnings

  fmt_check:
    name: Fmt

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          components: rustfmt
          override: "true"
          default: "true"
          
      - uses: Swatinem/rust-cache@v2

      - name: Check code formatting
        run: cargo fmt -- --check
