name: CI

on:
  push:
    branches: [main]
  pull_request:
  merge_group:

jobs:
  test_all:
    name: Test

    runs-on: freenet-default-runner

    env:
      FREENET_LOG: error
      CARGO_TARGET_DIR: ${{ github.workspace }}/target

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v5

      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: wasm32-unknown-unknown

      - uses: Swatinem/rust-cache@v2
        if: success() || steps.test.conclusion == 'failure'
        with:
          shared-key: "rust-cache"
          save-if: ${{ github.ref == 'refs/heads/main' }}

      - name: Build
        run: |
          cargo build --locked
          export PATH="$PWD/target/debug:$PATH"
          make -C apps/freenet-ping -f run-ping.mk build

      - name: Test - legacy mode
        run: cargo test --workspace --no-default-features --features trace,websocket,redb

      - name: Test - actor mode
        run: FREENET_ACTOR_CLIENTS=true cargo test --workspace --no-default-features --features trace,websocket,redb

  clippy_check:
    name: Clippy

    runs-on: freenet-default-runner

    env:
      FREENET_LOG: error
      CARGO_TARGET_DIR: ${{ github.workspace }}/target

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v5

      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          components: clippy
          targets: wasm32-unknown-unknown

      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: "rust-cache"
          save-if: ${{ github.ref == 'refs/heads/main' }}

      - name: Build
        run: |
          cargo build --locked --bin fdev --manifest-path ../../crates/fdev/Cargo.toml
          export PATH="$PWD/../../target/debug:$PATH"
          make -f run-ping.mk build
        working-directory: apps/freenet-ping

      - name: clippy
        run: cargo clippy -- -D warnings

  fmt_check:
    name: Fmt

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable

      - name: Check code formatting
        run: cargo fmt -- --check
