name: Build and Cross-Compile

on:
  workflow_dispatch:
  pull_request:

jobs:
  build-x86_64:
    name: Build for x86_64-unknown-linux-gnu

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable

      - uses: Swatinem/rust-cache@v2

      - name: Install cross
        run: cargo install cross

      - name: Compile for x86_64-unknown-linux-gnu
        run: cargo build --release

      - name: Upload binaries
        uses: actions/upload-artifact@v4
        with:
          name: binaries-x86_64
          path: target/release/

  build-arm64:
    name: Build for aarch64-unknown-linux-gnu

    runs-on: ubuntu-24.04-arm

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable

      - uses: Swatinem/rust-cache@v2

      - name: Compile for aarch64-unknown-linux-gnu
        run: cargo build --release

      - name: Upload binaries
        uses: actions/upload-artifact@v4
        with:
          name: binaries-arm64
          path: target/release/